<app-header-admin></app-header-admin>
<div class="flex">
  <div>
    <app-nav-bar-admin></app-nav-bar-admin>
  </div>

  <div class="form-main">
    <div class="header-main">
      <h3>Generar Reporte</h3>
      <p>
        <span class="material-icons"> home </span> inicio / administrador /
        Crear estudiante
      </p>
    </div>
    <div class="img-icon">
      <img src="../../../../assets/icon/pdf.png" />
      <img src="../../../../assets/icon/excel.png" />
      <img src="../../../../assets/icon/text.png" />
    </div>
    <table class="table-student">
      <tr>
        <th>Nombre</th>
        <th>Documento</th>
        <th>Grado</th>
        <th>Direccion</th>
        <th>Acudiente</th>
        <th>Parentesco</th>
        <th>Celular</th>
      </tr>
      <tbody>
        <tr>
          <td>Sunny</td>

          <td>Mostly sunny</td>

          <td>Partly cloudy</td>
          <td>Sunny</td>
          <td>Sunny</td>

          <td>Mostly sunny</td>

          <td>Partly cloudy</td>
        </tr>

        <tr>
          <td>19°C</td>

          <td>17°C</td>

          <td>12°C</td>
          <td>Sunny</td>
          <td>Sunny</td>

          <td>Mostly sunny</td>

          <td>Partly cloudy</td>
        </tr>

        <tr>
          <td>E 13 km/h</td>

          <td>E 11 km/h</td>

          <td>S 16 km/h</td>
          <td>Sunny</td>
          <td>Sunny</td>

          <td>Mostly sunny</td>

          <td>Partly cloudy</td>
        </tr>
        <tr>
          <td>E 13 km/h</td>

          <td>E 11 km/h</td>

          <td>S 16 km/h</td>
          <td>Sunny</td>
          <td>Sunny</td>

          <td>Mostly sunny</td>

          <td>Partly cloudy</td>
        </tr>
        <tr>
          <td>E 13 km/h</td>

          <td>E 11 km/h</td>

          <td>S 16 km/h</td>
          <td>Sunny</td>
          <td>Sunny</td>

          <td>Mostly sunny</td>

          <td>Partly cloudy</td>
        </tr>
        <tr>
          <td>E 13 km/h</td>

          <td>E 11 km/h</td>

          <td>S 16 km/h</td>
          <td>Sunny</td>
          <td>Sunny</td>

          <td>Mostly sunny</td>

          <td>Partly cloudy</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
