

<div style="float: right; width: 100%; color:white; background-color:#186340;  margin-bottom: 0% !important;"    > 
<h1 class="text-center">{{title}}</h1>
</div>
<div  style="width: 100%; background-color:#198754; color: white; ">
<b style="    font-family: inherit; font-size: 25px; ">{{title}}</b>

<button (click)="Listar()" style="border-bottom-width: 1px;margin-bottom: 4px;border-color: ivory;margin-left:5 px; color: white;" class="btn">Listar</button>
<button (click)="Agregar()" style="border-bottom-width: 1px;margin-bottom: 4px;border-color: ivory;margin-left: 5px; color: white;" class="btn">Nuevo</button></div>

<router-outlet></router-outlet>
