form {
  /* border: 1px solid blue; */
  font-size: 25px;
  max-width: 30%;

  margin: auto;
}

form input {
  padding: 15px;
  font-size: 20px;
}
.div-form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.btn-save {
  background-color: rgb(55, 197, 55);
  font-size: 20px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  border: 2px solid rgb(3, 201, 3);
  color: white;
  cursor: pointer;
}
.btn-save:disabled {
  background-color: red;
}
.btn-save:hover {
  opacity: 5;
}
