<table
  datatable
  [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger"
  class="row-border hover"
>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Documento</th>
      <th>Grado</th>
      <th>Direccion</th>
      <th>Acudiente</th>
      <th>Parentesco</th>
      <th>Celular</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudiante of estudiantes">
      <td>{{ estudiante.unaPersona.nombre }}</td>
      <td>{{ estudiante.unaPersona.numeroDocumento }}</td>
      <td>{{ estudiante.grado }}</td>
      <td>{{ estudiante.unaPersona.direccion }}</td>
      <td>{{ estudiante.nombreAcudiente }}</td>
      <td>{{ estudiante.unaPersona.telefono }}</td>
      <td>{{ estudiante.unaPersona.telefono }}</td>
      <td>
        <button
          [routerLink]="['/admin/panel', estudiante.idEstudiante]"
          type="button"
        >
          Editar
        </button>
      </td>
    </tr>
  </tbody>
</table>
